#container-code{
    margin: 0 auto;
    display: block;
    width: fit-content;
    border: solid 1px;
    padding: 1vmax;
    
}

.btn{
    margin: 0 auto;
    display: block;
}


#container{
    display: flex;
    flex-direction: column;
}

canvas{
    object-fit: scale-down;
    height: 85vh;
    width: 100vw;
}
