<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="container-code" class="lead">code : {{code}}</div>
        <img id="container-media" [src]="webSocketService.image">
        <input type="file" class="btn btn-primary file" id="attachment" style="display: none;" (change)="fileSelected($event.target.files)" accept="video/*,image/*"/>
        <input type="button" class="btn btn-primary file" id="btnAttachment" (click)="addMedia()" value="File"/>
    </div>
</body>
</html>

