<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand" href="#">MedferCast</div>
        <a href="https://github.com/gaelbrct59/medfercast">Github</a>
      </nav>
    <div id="presentation">
        <p class="lead">    Connect this device with another </p>
    
        <div class="lead"> Enter a code to connect : </div>
    </div>
    <div id="user-text">
        <input [value]="code" (input)="code = $event.target.value" id="user-code">
    </div>
    <div id="buttons">
        <button id="enter-code" class="btn btn-primary" (click)="getCode()"> Send code </button>
        <button id="generate-code" class="btn btn-primary"> 
            Generate & send code </button>
    </div>
</body>
</html>