<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="presentation">
        <!-- <p class="lead">    Enter your pseudo : </p> -->
        <!-- <input [value]="nameuser" (input)="nameuser = $event.target.value"> -->
        <p class="lead">    Connect this device with another </p>
    
        <div class="lead"> Enter a code to connect : </div>
    </div>
    <input [value]="code" (input)="code = $event.target.value" id="user-code">
    <div id="buttons">
        <button id="enter-code" class="btn btn-primary" (click)="getCode()"> Send code </button>
        <button id="generate-code" class="btn btn-primary"> 
            Generate & send code </button>
    </div> 
    <div id="modal-code" class="hidden">
        <div id="modal-enter-code" class="hidden"> 
            This room already exist. Please enter the code to join
            <input [value]="existPassword" (input)="existPassword = $event.target.value" id="user-code">
            <button class="btn btn-primary" (click)="getExistPassword()"> Enter password </button>
            <button (click)="closeModal()">close modal</button>
        </div>
        
        <div id="modal-create-room" class="hidden">
            Please add code to your room
            <input [value]="password" (input)="password = $event.target.value" id="user-code">
            <button class="btn btn-primary" (click)="getPassword()"> Add password </button>
            <button (click)="closeModal()">close modal</button>
        </div>
        
    </div>
</body>
</html>